
.ipynb_checkpoints/dist_coll-checkpoint.ipynb
.ipynb_checkpoints/More_tests-Copy1-checkpoint.ipynb
.ipynb_checkpoints/Mass_coll-checkpoint.ipynb
.ipynb_checkpoints/Mass_coll-kaffe-checkpoint.ipynb
.ipynb_checkpoints/Mass_Dist_coll_kjærlighet-checkpoint.ipynb
.ipynb_checkpoints/Mass_Dist_coll_kjærlighet-Copy1-checkpoint.ipynb
